@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark: #344055;
    --primary: #3d1c6d;
    --main-font: 'Montserrat', sans-serif;
    --title-font: 'League Spartan', sans-serif;
    --ability-color: #b49cd7;
}

body {
    margin: 0;
    color: var(--dark);
    font-family: var(--main-font), sans-serif;
    background-color: #f4f4f4;
}

h1 {
    font-family: var(--title-font), sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

h2 {
    margin: auto;
    width: fit-content;
    position: relative;
    color: var(--dark);
    font-size: 2em;
    text-transform: uppercase;
    z-index: 1;
}

h2:after {
    content: '';
    position: absolute;
    display: block;
    width: 80%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0.5em;
    background-color: var(--ability-color);
    z-index: -1;
    clip-path: polygon(0 100%, 80% 100%, 100% 0, 20% 0);
}

h3 {
    color: var(--dark);
    text-align: center;
    margin: 20px 0;
}

h4 {
    color: var(--primary);
    font-size: 1.2em;
}

button {
    border: none;
    background: var(--ability-color);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button.secondary {
    border: solid 1px var(--primary);
    background: white;
    color: var(--primary);
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-container input {
    padding: 10px;
    border: 1px solid var(--dark);
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
}

.pokemon-card, .form-container {
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.56);
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.pokemon-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.abilities-box {
    margin-top: 10px;
}

.abilities-box ul {
    list-style-type: none;
    padding: 0;
}

.abilities-box li {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 15px;
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
}

.pokemon-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.pokemon-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
    width: calc(25% - 20px);
    box-sizing: border-box;
}

.pokemon-list a {
    text-decoration: none;
    color: var(--dark);
}

.pokemon-list h3 {
    font-size: 1.2em;
    margin: 0;
    color: var(--dark);
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li {
    margin: 10px 0;
}

nav {
    background-color: var(--primary);
    padding: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.56);
    max-width: 600px;
    margin: 20px auto;
}

.form-container div {
    margin-bottom: 15px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    margin-left: 20px;
    text-align: left;
}

.form-container input {
    width: 90%;
    padding: 10px;
    border: 1px solid var(--dark);
    border-radius: 5px;
}

.form-container button {
    width: 100%;
}
